<div ng-show="currentTab == 1" class="blocks" ng-view="">
  <%#= render 'partials/blocks_list' %>
</div>

<div ng-show="currentTab == 2" class="coop">
  <%= @company.about %>
</div>

<div ng-show="currentTab == 3" class="contacts">

</div>
