<div class="block">
  <div class="carousel">
    <div ng-repeat="image in markers.attachments">
      <img ng-src="{{ image.attachment.carousel.url }}" alt=""/>
      <script ng-if="$last">
        $(".carousel").carouFredSel({
          circular: true,
          infinite: true,
    //        responsive: true,
          height: 314,
          width: 500,
          align: 'center',
          items: {
            visible: 1,
            height: 314,
            width: 500,
            minimum: 2
          },
    //        pagination: {
    //          container: ".main-carousel-pager",
    //          anchorBuilder: function(nr) {
    //            '<a href="#'+nr+'"></a>'
    //          }
    //        }
          auto: {
            timeoutDuration: 6000
          },
          swipe: true
        });
      </script>
    </div>
  </div>
  <h2>{{ markers.title }}</h2>
  <div class="about">
    <p>{{ markers.info }}</p>
  </div>
  <div class="customer-data">
    <div class="customer">
      <p>Заказчик: {{ markers.customer.title }}</p>
    </div>
    <div class="data-block">
      <p>Дата ввода в эксплуатацию:</p>
      <div class="date" ng-class="markerState(markers.finish).color">
        <i class="icn-key"></i><span>{{ markers.finish }}</span>
      </div>
    </div>
  </div>
  <div class="offers" ng-show="markers.offers.length">
    <h2>Спецпредложения</h2>
    <div ng-repeat="offer in markers.offers" class="offer">
      <p>{{ offer.title }}</p>
      <p>{{ offer.info }}</p>
      <div class="data-block">
        <p>Истекает:</p>
        <div class="date green">
          <i class="icn-key"></i><span>{{ offer.till }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
