<div class="block">
  <div class="caroufredsel">
    <div class="carousel">
      <img width="496px" height="310px" ng-repeat="image in markers.attachments" caroufredsel ng-src="{{ image.attachment.carousel.url }}" alt=""/>
    </div>
  <div class="main-carousel-pager"></div>
  </div>
  <h2>{{ markers.title }}</h2>
  <div class="about">
    <p>{{ markers.info }}</p>
  </div>
  <div class="customer-data">
    <div class="customer">
      <p>Заказчик: {{ markers.customer.title }}</p>
    </div>
    <div class="date-block">
      <p>Дата ввода в эксплуатацию:</p>
      <div class="date" ng-class="markerState(markers.finish).color">
        <i class="icn-key"></i><span>{{ markers.finish }}</span>
      </div>
      <div ng-show="havePlan(markers) || have3d(markers)" class="scheme-view-button date">
        <i class="icn-zoom"></i>
        <a ng-show="havePlan(markers)" href="{{ markers.scheme.image.attachment.url }}" class="fancybox" target="_self">
          <span>Планировки</span>
        </a>
        <a ng-show="have3d(markers)" href fancybox ng-click="openFancybox('/plans/' + markers.id)">
          <span>3D-вид</span>
        </a>
      </div>
    </div>
  </div>
  <div class="offers" ng-show="markers.active_offers.length">
    <h2>Спецпредложения</h2>
    <div ng-repeat="offer in markers.active_offers" class="offer">
      <h3>{{ offer.title }}</h3>
      <p>{{ offer.info }}</p>
      <div class="date-block">
        <p>Истекает:</p>
        <div class="date green">
          <i class="icn-key"></i><span>{{ offer.till }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
