.icn-contacts {
  background: image-url('sprites.png') -204px -28px no-repeat;
	display: block;
	width: 21px;
	height: 29px;
}

.icn-download {
  background: image-url('sprites.png') -204px -84px no-repeat;
  display: inline-block;
  width: 18px;
  height: 16px;
}

.icn-handshake {
  background: image-url('sprites.png') -204px -154px no-repeat;
  display: block;
  width: 38px;
  height: 28px;
}

.icn-key {
  background: image-url('sprites.png') -204px -120px no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
}

.icn-list {
  background: image-url('sprites.png') -200px -13px no-repeat;
  display: block;
  width: 28px;
  height: 15px;
}

.icn-tiles {
  background: image-url('sprites.png') -200px 1px no-repeat;
  display: block;
  width: 28px;
  height: 15px;
}

.icn-objects {
  background: image-url('sprites.png') -203px -57px no-repeat;
  display: block;
  width: 18px;
  height: 26px;
}

.icn-paperclip {
  background: image-url('sprites.png') -204px -102px no-repeat;
  display: inline-block;
  width: 18px;
  height: 16px;
}

.icn-zoom {
  background: image-url('sprites.png') -204px -137px no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.logo {
  background: image-url('sprites.png') 0px 0px no-repeat;
	display: block;
	width: 202px;
	height: 189px;
	margin: 32px auto;
    padding-top: 20px;
}