.icn-contacts {
  background: image-url('sprites.png') -204px 0px no-repeat;
  display: block;
  width: 21px;
  height: 29px;
}

.icn-coop {
  background: image-url('sprites.png') 0px -191px no-repeat;
  display: block;
  width: 29px;
  height: 27px;
}

.icn-key {
  background: image-url('sprites.png') -204px -58px no-repeat;
  display: inline-block;
  width: 17px;
  height: 16px;
}

.icn-objects {
  background: image-url('sprites.png') -204px -31px no-repeat;
  display: block;
  width: 17px;
  height: 25px;
}

.icn-zoom {
  background: image-url('sprites.png') -204px -76px no-repeat;
  display: inline-block;
  width: 17px;
  height: 17px;
}

.logo {
  background: image-url('sprites.png') 0px 0px no-repeat;
  display: block;
  width: 202px;
  height: 189px;
	margin: 32px auto;
}