a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, p, span, a {
  font-family: 'Play', sans-serif;
}
h1, h2, h3 {
  font-weight: 700;
}
p, span {
  font-weight: 400;
}
p, span {
  font-size: 0.84em;
}
h1 {
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 10px;
  &.heading {
    padding: 10px 0;
  }
}
h2 {
  font-size: 1em;
  padding: 10px 0;
}

.nowrap {
  white-space: nowrap;
}

html, body, #map {
  height: 100%;
  width: 100%;
}

body {
  color: white;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .heading, p.popup, .content ul li {
    color: black;
  }
  .content {
    padding-bottom: 10px;
  }
  img {
    float: left;
    padding: 10px 10px 2px 0;
  }
}

.main {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  width: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  overflow: auto;
}

nav {
  display: table;
  width: 370px;
  margin: 22px auto;
  ul {
    display: table-row;
    li {
      display: table-cell;
      text-align: center;
      a {
        display: inline-block;
        width: 52px;
        height: 52px;
        background-color: white;
        border-radius: 30px;
        border: 3px solid white;
        &.current {
          border: 3px solid #ffa118;
        }
        &:hover {
          border: 3px solid #FDB931;
          cursor: pointer;
        }
        i {
          margin: 12px auto 0 auto;
        }
      }
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.table {
  display: table;
  width: 100%;
  .back-btn {
    border-radius: 20px;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    display: block;
    line-height: 10px;
    margin-left: 10px;
  }
  .row {
    display: table-row;
    &:before, &:after {
      display: table-cell;
      content: "";
      width: 50%;
    }
    .cell {
      display: table-cell;
    }
  }
}

.row.withline {
  &:before, &:after {
    background: image-url('line.gif') 0 18px repeat-x transparent;
  }
}

.block {
  margin-top: 20px;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  img {
    float: left;
    border: 2px solid white;
    border-radius: 4px;
  }
  .info {
    padding-left: 220px;
    a {
      display: block;
    }
  }
  .customer-data {
    padding: 6px 0;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    .customer {
//      float: left;
//      max-width: 290px;
      p {
//        padding-bottom: 4px;
//        text-decoration: underline;
      }
    }
    p {
//      float: right;
    }
    .date {
//      float: right;
      clear: both;
    }
  }
  .data-block {
    padding-top: 6px;
    .date.green {
      background-color: #93cd61;
    }
    .date {
      background-color: #f97777;
      border-radius: 6px;
      display: inline-block;
      padding: 4px 10px 2px 8px;
      margin-top: 4px;
      span {
        padding-left: 9px;
        border-left: 1px solid white;
        margin-left: 8px;
        line-height: 17px;
        vertical-align: top;
      }
    }
  }
}
