a {
  text-decoration: none;
  color: white;
  h1:hover, h2:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, p, span, a {
  font-family: 'Play', sans-serif;
}
h1, h2, h3 {
  font-weight: 700;
}
p, span {
  font-weight: 400;
  font-size: 0.84em;
}
p {
  line-height: 1.2em;
  &.phone {

  }
  &.address {

  }
  &.site {
    a {
      text-decoration: underline;
    }
  }
}
h1 {
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 10px;
  &.heading {
    padding: 10px 0;
  }
}
h2 {
  font-size: 1.2em;
  padding: 10px 0;
}
h3 {
  font-size: 0.84em;
  padding: 6px 0 5px;
  text-transform: uppercase;
}
br {
  display: block;
  height: 0.5em;
  content: "";
}

.nowrap {
  white-space: nowrap;
}

html, body, #map {
  height: 100%;
  width: 100%;
}

body {
  color: white;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .heading, p.popup, .content ul li {
    color: black;
  }
  .content {
    padding-bottom: 10px;
    .offers {
      clear: both;
    }
  }
  img {
    float: left;
    padding: 10px 10px 2px 0;
  }
}

.main {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  width: 510px;
  height: 100%;
  overflow: auto;
  padding: 0 20px;
  .content {
    padding-bottom: 136px;
    position: relative;
    .blocks-list {
      position: absolute;
      right: 0;
      top: -30px;
      a {
        display: block;
        border-radius: 4px;
        border: 1px solid white;
        padding: 4px 3px;
        &:hover {
          border: 1px solid rgb(255, 186, 68);
          //.icn-list {
          //  background: image-url('sprites.png') -200px 1px no-repeat;
          //}
          //.icn-tiles {
          //  background: image-url('sprites.png') -200px -13px no-repeat;
          //}
        }
      }
    }
    .tile-view li {
      list-style: circle;
      margin-left: 20px;
      padding-bottom: 10px;
    }
    .tile-view li.last {
      padding-bottom: 0;
    }
  }
}

.ad {
  height: 116px;
  background: image-url('940x116_ipoteka.jpg') no-repeat 50% 0 #A74818;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  display: table;
  width: 380px;
  position: absolute;
  left: 0;
  padding: 0 85px;
  background: image-url('video-shadow.png') 0 7px;
  ul {
    display: table-row;
    li {
      display: table-cell;
      text-align: center;
      a {
        display: inline-block;
        width: 52px;
        height: 52px;
        background-color: white;
        border-radius: 30px;
        border: 3px solid white;
        box-shadow: 0px -3px 8px rgba(100, 100, 100, 1);
        &.current {
          border: 3px solid #ffa118;
        }
        &:hover {
          border: 3px solid #FDB931;
          cursor: pointer;
        }
        i {
          margin: 12px auto 0 auto;
        }
      }
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.table {
  display: table;
  width: 100%;
  padding-top: 70px;
  .back-btn {
    border-radius: 20px;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    display: block;
    line-height: 10px;
    margin-left: 10px;
    & h1:hover {
      text-decoration: none;
    }
  }
  .row {
    display: table-row;
    &:before, &:after {
      display: table-cell;
      content: "";
      width: 50%;
    }
    .cell {
      display: table-cell;
    }
  }
}

.row.withline {
  &:before, &:after {
    background: image-url('line.gif') 0 18px repeat-x transparent;
  }
}

.block {
  margin-top: 20px;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  img {
    float: left;
    border: 2px solid white;
    border-radius: 4px;
  }
  .info {
    padding-left: 220px;
    a {
      display: block;
    }
  }
  .customer-data {
    padding: 0 0 6px 0;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    .date {
      clear: both;
    }
  }
  .offers {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 5px;
    h2 {
      padding-top: 0;
    }
  }
  .date-block {
    position: relative;
    & > p {
      display: inline-block;
    }
    .date.green {
      background-color: #93cd61;
    }
    .scheme-view-button.date {
      background-color: #ee5c5f;
      float: right;
      margin: 4px 0 5px 5px;
    }
    .date {
      background-color: #f97777;
      border-radius: 6px;
      display: inline-block;
      padding: 2px 10px 0 8px;
      margin-top: 4px;
      position: relative;
      span {
        padding-left: 9px;
        border-left: 1px solid white;
        margin-left: 8px;
        line-height: 22px;
        vertical-align: top;
      }
    }
  }
}
